<form ng-submit="save()">
    <div class="modal-header">
        <h3 class="modal-title">{{isNew ? '新增' : '编辑'}}{{model.label}}</h3>
    </div>
    <div class="modal-body" style="overflow-x: auto">
        <div class="form-group">{{field.input}}</div>
    </div>
    <div class="modal-footer">
        <div class="alert alert-danger text-center" role="alert" ng-if="err">{{ err }}</div>
        <button class="btn btn-primary">保存</button>
        <a href="" class="btn btn-default" ng-click="cancel()">取消</a>
    </div>
</form>
