<div class="modal-header">
    <h3 class="modal-title">{{isNew ? '新增' : '编辑'}}{{model.label}}</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="{{field.name}}">{{field.label}}：</label>
            <input class="form-control" id="{{field.name}}" ng-model="{{field.value}}">
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="alert alert-danger text-center" role="alert" ng-if="err">{{ err }}</div>
    <button class="btn btn-primary" ng-click="save()">保存</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>