<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline">
            <a class="btn btn-success" href="" role="button" ng-click="new()">新增</a>

            <div class="form-group">
                <label for="criteria">{{name.label}}：</label>
                <input class="form-control" id="criteria" ng-model="criteria.name">
            </div>
            <a class="btn btn-primary" href="" role="button" ng-click="query()">查询</a>
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <td>ID ↓</td>
                <td>{{field.label}}</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in collection">
                <td>{{item.id}}</td>
                <td>{{field.value}}</td>
                <td>
                    <button class="btn btn-success btn-sm" ng-click="edit(item)">编辑</button>
                    <button class="btn btn-danger btn-sm" ng-click="delete(item)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
