<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline">
            <div class="form-group">
                <label for="criteria">{{name.label}}：</label>
                <input class="form-control" id="criteria" ng-model="criteria.name">
            </div>
            &nbsp;
            <a class="btn btn-primary" href="" role="button" ng-click="new()">新增</a>
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <td>{{field.label}}</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in collection">
                <td>{{field.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
